.home-card {
  max-width: 420px;
  margin: 6rem auto;
  text-align: center;
  padding: 2rem;

  .subtitle {
    margin: 1rem 0 2rem;
    opacity: 0.8;
  }

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px)
  {
    background-color: transparent;
    }
}
